*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom right, rgba(111, 166, 180, 0.3),   rgba(111, 166, 180, 0.68));
    display: flex;
    align-items: center;
    justify-content: center;
}

.mini-container{
    padding: 1px;
    border: none;
    outline: none;
    border-radius: 40px;
    background-color: black;
}

.calculator-container{
    height: 450px;
    width: 250px;
    border-radius: 40px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    flex-direction: column;
}

.keyboard{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 10px;
    margin-bottom: 20px;
}

.keyboard button{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: rgb(108, 130, 119);
    border: none;
    outline: none;
    margin: 7px;
    font-size: 1.2rem;
    color: white;
    transition: 0.5s ease-in-out;
}

.keyboard button:focus{
    scale: 1.1;
}

.keyboard .btn-op{
    background-color: rgb(205, 136, 62);
}

.keyboard .btn-ctrl{
    background-color: rgb(132, 76, 138);
}

.keyboard .zero{
    grid-area: 5/ 1/ span 2/ span 2;
    width: 85px;
    border-radius: 20px;
}

.display{
    width: 70%;
    height: 70px;
    margin: 20px;
    padding-right: 20px;
    font-size: 1.3rem;
    color: white;
    text-align: right;
    margin-top: 70px;
    overflow: hidden;
}

.footer{
    width: 90px;
    height: 2px;
    background-color: white;
    border: none;
    outline: none;
}